<ng-container *ngIf="currentExchangeRate$ | async as currentExchangeRate">
    <div class="exchange-rate" *ngIf="currentExchangeRate.success">
        <div class="timestamp-unity-wrapper">
            <div class="timestamp-wrapper">
                <span class="rate-now-label">Exchange rate now</span>
                <span>
                    {{ currentExchangeRate.lastUpdatedAt | date: 'dd/MM/yyyy' }} -
                    {{ currentExchangeRate.lastUpdatedAt | date: 'h' }}h{{ currentExchangeRate.lastUpdatedAt | date:
                    'mm' }}
                </span>
            </div>
            <div class="exchange-unity">
                {{currentExchangeRate.fromSymbol}}/BRL
            </div>
        </div>
        <div class="exchange-value">
            {{ currentExchangeRate.exchangeRate| currency: "BRL"}}
        </div>
    </div>
    <div class="exchange-rate" *ngIf="!currentExchangeRate.success">
        <div class="not-found">
            CURRENCY NOT FOUND
        </div>
    </div>
</ng-container>