<div class="exchange-history-wrapper" [ngClass]="{'closed': !modalOpen}">
    <span class="last-thirty">
        LAST 30 DAYS
    </span>
    <button (click)="toggleModal()" class="button-show">{{ modalOpen ? "-" : "+" }}</button>
</div>
<ul class="currency-cards-wrapper" *ngIf="modalOpen">
    @for(currencyCard of currencyCards; track currencyCard) {
    <li class="currency-card">
        <span class="date">{{currencyCard.date | date:'dd/MM/yyyy'}}</span>
        <div class="stats">
            <span>OPEN: <b>{{currencyCard.open | currency: "BRL"}}</b></span>
            <span>HIGH: <b>{{currencyCard.high | currency: "BRL"}}</b></span>
            <span>CLOSE: <b>{{currencyCard.close | currency: "BRL"}}</b></span>
            <span>LOW: <b>{{currencyCard.low | currency: "BRL"}}</b></span>
        </div>
        <div class="close-diff">
            CLOSE DIFF (%): <b>{{currencyCard.closeDiff | currency: "BRL"}} ^</b>
        </div>
    </li>
    }
</ul>