@use "styles/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
div,
span,
input,
button,
footer {
  font-family: "Roboto", sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
